@keyframes gradient{
    from{background-color: #F50057;}
    to{background-color: #764CF0;}
  }

@font-face {
  font-family: quicksand;
  src : url('./components/res/Quicksand-Regular.ttf');

}
  
  
  
  html,body{
    font-family: quicksand;
    animation-name: gradient;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  

  
  .App{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
  }
  
  .App2{
    padding: 3%;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
  }